.paginator {
  max-width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: space-around;

  button {
    padding: 2px;
    min-width: 30px;
    width: max-content;
  }

  .selectedPage {
    background-color: #C9A66B;
  }
}